/* You can add global styles to this file, and also import other style files */



.listalign{
  width: 52%;
  margin-left: 514px;

}

.btnspace{
  margin-left: 175px;
}

.btnalgn{
  margin-left: 9px;
}
